# Request Dennis for any PR
* @Den4200

# CI & Docker
.github/workflows/**                    @Akarys42
Dockerfile                              @Akarys42
docker-compose.yml                      @Akarys42

# Tools
Pipfile*                                @Akarys42
