[tool.poetry]
name = "sir-lancebot"
version = "0.1.0"
description = "A Discord bot designed as a fun and beginner-friendly learning environment for writing bot features and learning open-source."
authors = ["Python Discord <info@pythondiscord.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "3.10.*"

# See https://bot-core.pythondiscord.com/ for docs.
bot-core = {url = "https://github.com/python-discord/bot-core/archive/refs/tags/v8.2.1.zip", extras = ["async-rediscache"]}

aiodns = "3.0.0"
aioredis = "2.0.1"
rapidfuzz = "2.13.2"
arrow = "1.2.3"
beautifulsoup4 = "4.11.1"
pillow = "9.3.0"
sentry-sdk = "1.10.1"
PyYAML = "6.0"
emojis = "0.6.0"
coloredlogs = "15.0.1"
colorama = { version = "0.4.6", markers = "sys_platform == 'win32'" }
lxml = "4.9.1"
emoji = "2.2.0"
pyjokes = "0.6.0"

[tool.poetry.dev-dependencies]
flake8 = "5.0.4"
flake8-annotations = "2.9.1"
flake8-bugbear = "22.10.27"
flake8-docstrings = "1.6.0"
flake8-string-format = "0.3.0"
flake8-tidy-imports = "4.8.0"
flake8-todo = "0.7"
flake8-isort = "5.0.0"
pep8-naming = "0.13.2"
pip-licenses = "4.0.0"
pre-commit = "2.20.0"
python-dotenv = "0.21.0"
taskipy = "1.10.3"

[tool.taskipy.tasks]
start = "python -m bot"
lint = "pre-commit run --all-files"
precommit = "pre-commit install"
isort = "isort ."

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
multi_line_output = 6
order_by_type = false
case_sensitive = true
combine_as_imports = true
line_length = 120
atomic = true
known_first_party = ["bot"]
