[tool.poetry]
name = "sir-lancebot"
version = "0.1.0"
description = "A Discord bot designed as a fun and beginner-friendly learning environment for writing bot features and learning open-source."
authors = ["Python Discord <info@pythondiscord.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "3.11.*"

# See https://bot-core.pythondiscord.com/ for docs.
pydis_core = { version = "9.5.0", extras = ["async-rediscache"] }

aiodns = "3.0.0"
aioredis = "2.0.1"
rapidfuzz = "2.13.7"
arrow = "1.2.3"
beautifulsoup4 = "4.11.2"
pillow = "9.4.0"
sentry-sdk = "1.16.0"
PyYAML = "6.0"
emojis = "0.7.0"
coloredlogs = "15.0.1"
colorama = { version = "0.4.6", markers = "sys_platform == 'win32'" }
lxml = "4.9.2"
emoji = "2.2.0"
pyjokes = "0.6.0"

[tool.poetry.dev-dependencies]
flake8 = "6.0.0"
flake8-annotations = "3.0.0"
flake8-bugbear = "23.2.13"
flake8-docstrings = "1.7.0"
flake8-string-format = "0.3.0"
flake8-tidy-imports = "4.8.0"
flake8-todo = "0.7"
flake8-isort = "6.0.0"
pep8-naming = "0.13.3"
pip-licenses = "4.0.3"
pre-commit = "3.1.1"
python-dotenv = "1.0.0"
taskipy = "1.10.3"

[tool.taskipy.tasks]
start = "python -m bot"
lint = "pre-commit run --all-files"
precommit = "pre-commit install"
isort = "isort ."

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
multi_line_output = 6
order_by_type = false
case_sensitive = true
combine_as_imports = true
line_length = 120
atomic = true
known_first_party = ["bot"]
